<form [formGroup]="newConsultationForm">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <mat-form-field appearance="fill" class="col-12">
                    <mat-label>Select</mat-label>
                    <mat-select [(ngModel)]="selectedLocation" (selectionChange)="SelectLocation(selectedLocation)"
                        formControlName="location">
                        <mat-option *ngFor="let location of availableLocations;"
                            [value]="location">{{location.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row mt-3" *ngIf="selectedLocation">
                <h5>Dates disponibles :</h5>
                <div class="col-12">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle *ngFor="let availableDate of availableDates;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{availableDate.date}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{availableDate.slots?.length}} slots disponible(s)
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="list-group">
                                <button *ngFor="let slot of availableDate.slots;" (click)="selectSlot(slot)"
                                    mat-stroked-button [color]="selectedSlot != slot ? 'primary' : 'warn'">
                                    {{slot | date:'HH:mm'}}
                                </button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mt-3">
                <span class="col-3 fw-bold">Location:</span>
                <span class="col-9" *ngIf="selectedLocation">{{selectedLocation.name}}</span>
            </div>
            <div class="row mt-3">
                <span class="col-3 fw-bold">Slot:</span>
                <span class="col-9" *ngIf="selectedSlot">{{selectedSlot | date:'dd/MM/yyyy - HH:mm'}}</span>
            </div>

            <div class="row mt-5">
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput class="col-12" [rows]="10" formControlName="notes"></textarea>
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-stroked-button color="primary" class="col-6" (click)="postNewConsultation()">Send</button>
            </div>
        </div>
    </div>
</form>

<span>{{newConsultationForm.value | json}}</span>