<div class="container ">
    <div class="row mt-5 text-center d-flex justify-content-around">
        <div class="col-5">
            <mat-form-field appearance="fill">
                <mat-label>Patient</mat-label>
                <mat-select (selectionChange)="patientSelected($event.value)">
                    <mat-option *ngFor="let patient of patientsDto" [value]="patient">
                        {{patient.lastName}} {{patient.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-5">
            <mat-form-field appearance="fill">
                <mat-label>Health care provider</mat-label>
                <mat-select (selectionChange)="healthCareProviderSelected($event.value)">
                    <mat-option *ngFor="let healthCareProvider of healthCareProvidersDto" [value]="healthCareProvider">
                        {{healthCareProvider.lastName}} {{healthCareProvider.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>